:host {
    background-color: var(--accent-color);
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;

    &.completed {
        text-decoration: line-through;
    }
}

.task {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
    }

    &__interactions {
        list-style: none;
        display: flex;
        align-items: center;
        row-gap: 5px;
    }

    &__description {
        font-size: 18px;
    }
}