:host {
    max-width: 630px;
    padding-inline: 15px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 30vh;
}

.main-title {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}